BR2_TARGET_GENERIC_HOSTNAME="cm3"
BR2_TARGET_GENERIC_ISSUE="Welcome to the cm3 board"

# board/compiler target setup
BR2_aarch64=y
BR2_cortex_a55=y
BR2_ARM_FPU_VFPV4=y
BR2_ARM_EABIHF=y

# Rock-Chip repos - mostly for sdcard image generation
BR2_PACKAGE_RKBIN=y
BR2_PACKAGE_RKDEVICE=y

# post build sdcard image generaton
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL)/board/RK3566.cm3/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL)/board/RK3566.cm3/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="RK3566"

# Filesystems
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="250M"
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y

# u-boot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_USE_DEFCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/radxa/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="19cefea3b8a7e22fa29b39367b04a8ab90c5c765"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="radxa-cm3-io-rk3566"
BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="BL31=../rkbin-7d631e0d5b2d373b54d4533580d08fb9bd2eaad4/bin/rk35/rk3568_bl31_v1.24.elf spl/u-boot-spl.bin u-boot.dtb u-boot.itb"
BR2_TARGET_UBOOT_NEEDS_PYLIBFDT=y
BR2_TARGET_UBOOT_FORMAT_BIN=y
BR2_TARGET_UBOOT_FORMAT_IMG=n
BR2_TARGET_UBOOT_FORMAT_ITB=y
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL)/board/RK3568/uboot.fragment"
BR2_PACKAGE_HOST_DTC=y

# uboot - modern version
#BR2_TARGET_UBOOT=y
#BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
##BR2_TARGET_UBOOT_CUSTOM_VERSION=y
##BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2022.04"
#BR2_TARGET_UBOOT_CUSTOM_GIT=y
#BR2_TARGET_UBOOT_CUSTOM_REPO_URL="/home/flatmax/temp/u-boot"
#BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="HEAD"
##BR2_TARGET_UBOOT_CUSTOM_TARBALL=y
##BR2_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="/home/flatmax/temp/u-boot.tgz"
#
#BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="BL31=../rkbin-7d631e0d5b2d373b54d4533580d08fb9bd2eaad4/bin/rk35/rk3568_bl31_v1.24.elf"
#
#BR2_TARGET_UBOOT_BOARD_DEFCONFIG="radxa-cm3-io-rk3566"
#BR2_TARGET_UBOOT_NEEDS_DTC=y
#BR2_TARGET_UBOOT_NEEDS_PYTHON3=y
#
#BR2_TARGET_UBOOT_NEEDS_DTC=y
#BR2_TARGET_UBOOT_FORMAT_BIN=y
#BR2_TARGET_UBOOT_FORMAT_IMG=n
#BR2_TARGET_UBOOT_SPL=n
#BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL)/board/RK3566.cm3/uboot.fragment"
#BR2_PACKAGE_HOST_DTC=y


# linux
BR2_LINUX_KERNEL=y

BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/radxa/kernel.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="0f91d24e217c2d146d0f82c1982b4b7d1c2e3573"
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="rockchip_linux"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="rockchip/rk3566-radxa-cm3-io"
BR2_KERNEL_HEADERS_4_19=y

#BR2_LINUX_KERNEL_LATEST_VERSION=y
#BR2_LINUX_KERNEL_VERSION="5.18.9"
#BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
#BR2_LINUX_KERNEL_INTREE_DTS_NAME="rockchip/rk3566-rock-cm3-e23-io"
#BR2_KERNEL_HEADERS_AS_KERNEL=y

BR2_LINUX_KERNEL_PATCH=""
BR2_LINUX_KERNEL_CUSTOM_LOGO_PATH=""
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_IMAGE=y
BR2_LINUX_KERNEL_GZIP=y
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y

# configure the place to source patches, the busybox frament, overlays
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL)/patches.cm3"
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL)/board/RK3566.cm3/busybox.fragment"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/overlays"

# where to store downloads
BR2_DL_DIR="$(BASE_DIR)/../../buildroot.dl"

# An example kernel module and devicetree overlay
#BR2_PACKAGE_EXAMPLE_MODULE_OVERLAY=y
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES=" $(BR2_EXTERNAL)/package/example-module-overlay/module-overlay-rk3308/kernel.fragment"

# external packages
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y

BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_OPENSSH_SERVER=y
BR2_PACKAGE_OPENSSH_CLIENT=y
BR2_SYSTEM_DHCP="eth0"
BR2_PACKAGE_AVAHI=y
BR2_PACKAGE_AVAHI_DAEMON=y

## Audio
#BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
#BR2_PACKAGE_ALSA_UTILS=y
#BR2_PACKAGE_ALSA_UTILS_ALSAMIXER=y
#BR2_PACKAGE_ALSA_UTILS_AMIXER=y
#BR2_PACKAGE_ALSA_UTILS_APLAY=y
#BR2_PACKAGE_ALSA_UTILS_ALSACTL=y
#
#BR2_PACKAGE_DUMMY_SOUNDCARD=y
#
#BR2_TOOLCHAIN_BUILDROOT_CXX=y
#BR2_PACKAGE_JACK2=y
