BR2_TARGET_GENERIC_HOSTNAME="rk3308"
BR2_TARGET_GENERIC_ISSUE="Welcome to an rk3308 OS"

# board/compiler target setup
BR2_aarch64=y
BR2_cortex_a35=y

# Rock-Chip repos - mostly for sdcard image generation
BR2_PACKAGE_RKBIN=y
BR2_PACKAGE_RKTOOLS=y
BR2_PACKAGE_RKDEVICE=y

# post build sdcard image generaton
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL)/board/RK3308/post-build.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="RK3308"

# Filesystems
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="250M"
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y

# u-boot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_USE_DEFCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/radxa/u-boot.git"
#BR2_TARGET_UBOOT_BOARD_DEFCONFIG="rockpi-s-rk3308"
#BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="stable-4.4-rockpis"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="rock-pi-s-rk3308"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="233a23e3ed0b3e5250253ee455c3c5df2080f99c"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_FORMAT_BIN=y
BR2_TARGET_UBOOT_FORMAT_IMG=n
BR2_TARGET_UBOOT_SPL=n
BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL)/board/RK3308/uboot.fragment"
BR2_PACKAGE_HOST_DTC=y

# linux
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_PATCH=""
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES=""
BR2_LINUX_KERNEL_CUSTOM_LOGO_PATH=""
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_IMAGE=y
BR2_LINUX_KERNEL_GZIP=y

#BR2_LINUX_KERNEL_LATEST_VERSION=y
#BR2_LINUX_KERNEL_VERSION="5.10"
#BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
#BR2_LINUX_KERNEL_INTREE_DTS_NAME="rockchip/rk3308-roc-cc"
#BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL)/board/RK3308/rk3308_linux_defconfig"

#BR2_KERNEL_HEADERS_5_9=y
#BR2_LINUX_KERNEL_CUSTOM_VERSION=y
#BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.9"
#BR2_LINUX_KERNEL_VERSION="5.9"
#BR2_LINUX_KERNEL_DEFCONFIG="rockpis"
#BR2_LINUX_KERNEL_INTREE_DTS_NAME="rk3308-rock-pi-s.dts"

BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/piter75/rockchip-kernel.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="6c923e306e11a9fa60bae4c319bdb0da9ba38f08"
#BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/radxa/kernel.git"
#BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="1f77a85486f77fa30e90636c15d15aa9b6fd3ffc"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="rockchip/rk3308-rock-pi-s"
BR2_LINUX_KERNEL_DEFCONFIG="rk3308_linux"
BR2_KERNEL_HEADERS_4_4=y

# configure the place to source patches, the busybox frament, overlays
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL)/patches.rockpis"
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL)/board/RK3308/busybox.fragment"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/overlays"

# where to store downloads
BR2_DL_DIR="$(BASE_DIR)/../../buildroot.dl"
